
// Fonts
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro);

// Variables
@import "variables";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

// Text-Spinners
@import "node_modules/text-spinners/spinners.scss";

// Splash
@import "node_modules/splash-screen/dist/splash.min";

.navbar-default {
  box-shadow: inset 12px 0 0 #10516f;
}

.navbar-brand {
  padding: 29px 25px;
  text-align: center;
}

.splash {
  z-index: 1060;
}

.pagination {
  margin: 0;
}

.table-price {
  border-left: 2px solid #ddd;
}

.table > tbody > tr.table-total > td {
  border-top: none !important;
  padding: 30px;
}

.table > tbody > tr.table-extra-service > td {
  border-top: none;
  font-size: .9em;
}

.tab-content {
  padding-top: 10px;
}
